<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBconection.Properties.Settings.SISPRO_dbConnexxxionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Darwin Jimy\Desktop\UTP_2015-I\Mantenimiento y configuracion de software\Proyecto\desarrollo\SISPROM\LayerFrames\SISPRO_db.mdb&quot;;Jet OLEDB:Database Password=12345"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>